.container {
  @include container-lg;
}

.items {
  @include row-alt;
  @include gridnogutter;
  // @include col(6);

  .item:nth-child(3) {
    background-color: yellow;
  }
}

.item {
  background-color: red;
  height: 40px;
  @include col-alt(2);
  @include col-f-2;
}