@mixin container {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-left: #{$container-gutter / 2};
  padding-right: #{$container-gutter / 2};

  @media only screen and ( min-width: 576px ) {
    max-width: rem($sm);
  }

  @media only screen and ( min-width: 768px ) {
    max-width: rem($md);
  }

  @media only screen and ( min-width: 992px ) {
    max-width: rem($lg);
  }

  @media only screen and ( min-width: 1200px ) {
    max-width: rem($xl);
  }
}

@mixin gridnogutter {
  @supports (display: grid) {
    margin-left: 0;
    margin-right: 0;
  }
}

@mixin row {
  display: flex;
  display: grid;
  flex-flow: row wrap;
  grid-template-columns: repeat(12, 1fr);
  margin-left: rem(-#{$container-gutter / 2});
  margin-right: rem(-#{$container-gutter / 2});

  > * {
    position: relative;
    width: 100%;
    min-height: 1px;
  }
}

@mixin row-f {
  display: flex;
  flex-flow: row wrap;
  margin-left: -rem(#{$container-gutter / 2});
  margin-right: -rem(#{$container-gutter / 2});

  > * {
    display: block;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: rem(15px);
    padding-right: rem(15px);
  }
}

@mixin col($columns) {
  flex: 0 0 #{(100% / 12) * $columns};
  grid-column: span $columns;
}

@mixin col-f($columns) {
  flex: 0 0 #{(100% / 12) * $columns};
}

@mixin col-f-auto {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0px;
}